version: "3.9"

services:
  api:
    image: devops-api:local
    container_name: devops-api
    ports:
      - "8000:8000"
    env_file:
    - .env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    container_name: devops-postgres
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser"]
      interval: 10s
      timeout: 5s
      retries: 5

